.items {
	font-size: 10px;
}
.discount {  
 text-decoration: line-through;
}
.productproperties {
	padding: 20px;
}
.tiles {
	height: 20px;
	width: 20px;
}
.container {
   text-align: center;

}
.name {
	font-weight: bold;
}

.card {
  max-width: 400px;
  margin-bottom:20px; 
}
.heading {
	font-weight: bold;
}