<div class="container">

 <p><img [attr.src]="data.icon">
      <td class="productproperties name">{{data.name}}</td>
      <td class="productproperties">Price :{{data.price}}</td>
      <td class="productproperties">Discount :<span class="discount"> {{data.discount}}</span></td>
     </p>   
<p>Available colors : {{data.colors}}
<tr *ngFor="let color of data.colors">	
<div class="tiles" [style.background-color]="color"
 ></div>
</tr>
</p>     
<p>{{data.description}}</p>
<button (click)="addToCart(data)">{{clicked==true?"Checkout":"Add to Cart"}}</button>
<br><button  routerLink="/">Browse More Products</button>

</div>