<div class="container">
<div *ngIf="cart.length>0">	
<h1>Your Cart</h1>	
<p>Products <span class="items">{{cart.length}} items </span></p>
<p>Total Price {{totalPrice}}</p>    

  <table class="table table-striped">
  	<tr *ngFor="let cart of cart">

<mat-card class="card">
  <mat-card-header>
    <mat-card-title class="heading">{{cart.name}}</mat-card-title>
  </mat-card-header>
  <img mat-card-image  [attr.src]="cart.icon">
  <mat-card-content>
    <p>
      <td class="productproperties">Price :{{cart.price}}</td>
      <td class="productproperties">Discount :<span class="discount"> {{cart.discount}}</span></td>
    </p>
  </mat-card-content>
 
</mat-card>


</tr>
</table>
</div>

<div *ngIf="cart.length<=0" >
	<p>No Product Added To Cart</p>
	<button mat-raised-button routerLink="/">Browse Products</button>

</div>
</div>

