.items {
	font-size: 10px;
}
.discount {  
 text-decoration: line-through;
}
.productproperties {
	padding: 20px;
}
.container {
   text-align: center;

}
#details {
	cursor: pointer;
}
.name {
	font-weight: bold;
}