<div class="container">

<p>Products <span class="items">{{data.length}} items </span></p>
  <table class="table">
   
<tr *ngFor="let product of data">
<mat-card class="card">
  <mat-card-header>
    <mat-card-title class="heading">{{product.name}}</mat-card-title>
  </mat-card-header>
  <img mat-card-image  [attr.src]="product.icon" (click)="showDetails(product)" id="details">
  <mat-card-content>
    <p>
      <td class="productproperties">Price :{{product.price}}</td>
      <td class="productproperties">Discount :<span class="discount"> {{product.discount}}</span></td>
    </p>
  </mat-card-content>
  <mat-card-actions>
  <button mat-raised-button (click)="addToCart(product)">Add to Cart</button>

  </mat-card-actions>
</mat-card>

    </tr>


</table>

</div>